@model IEnumerable<RecycleApp.Models.Category>

@{
    ViewBag.Title = "Index";
   
}

<h2>Kategorie sortowania odpadów</h2>

<p>
    @Html.ActionLink("Dodaj nową", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.CategoryID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.CategoryID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.CategoryID })
        </td>
    </tr>
}

</table>
